@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Nunito', sans-serif;
}

/* Add these classes in Tailwind CSS config if needed */
.perspective-1000 {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
